.ant-layout-header {
  // height: 42px;
  // line-height: 42px;
  position: relative;
  background: #ffffff !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.ant-list-vertical .ant-list-item-action {
  margin-top: 5px !important;
}

body {
  background: #f0f2f5 !important;
}
/////////////////////////////fontSize///////

.ft-16 {
  font-size: 16px !important;
}
.ft-13 {
  font-size: 13px !important;
}
.fw-700 {
  font-weight: 700 !important;
}

//////////////////////////////padding///////

.pd-5 {
  padding: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}

/////////////////////////////margin/////////

.mrl-5 {
  margin: 0 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-5 {
  margin-right: 5px !important;
}
